body{
    min-height: 100vh;
  
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)) , 
    url(../images/mc-jefferson-agloro-axqzgeVSO-Y-unsplash.jpg);
    background-position: center;
    background-size: cover;
    

}
h3{
    text-decoration: underline blue;
   }

   